<!-- Logo en la parte superior -->
<div class="text-center py-6">
  <h1 class="font-bold text-2xl text-gray-800">MAKEUP ORIENTE</h1>
</div>

<!-- Navbar negro con botones blancos -->
<nav class="w-full bg-black flex justify-center space-x-2 py-2">
  <a href="/homeMO" class="px-4 py-2 text-white text-sm font-medium hover:bg-gray-700 transition-colors">HOME</a>
  <a href="/productMO" class="px-4 py-2 text-white text-sm font-medium hover:bg-gray-700 transition-colors">MAKEUP</a>
  <a href="" class="px-4 py-2 text-white text-sm font-medium hover:bg-gray-700 transition-colors">SKINCARE</a>
  <a href="" class="px-4 py-2 text-white text-sm font-medium hover:bg-gray-700 transition-colors"><i class="ri-shopping-cart-2-line"></i> </a>
</nav>